---
import { getImage } from 'astro:assets';
import { PrimaryButton, SecondaryButton } from "@/components/patterns/button";
import image from "@/content/home_hero.jpg"

import type { HomeHeroProps as Props } from "@/content/static"
const { title, description, primaryButton, secondaryButton } = Astro.props
const imageAttrs = await getImage({
  src: image,
  alt: title,
  width: 1500,
  height: 1500,
  aspectRatio: '1:1',
  format: 'webp',
});
---
<section>
  <div
    class="container container-margin-hero grid text-slate-50
    bg-bottom bg-contain md:bg-cover bg-no-repeat bg-[#eeeeee] rounded-b-4xl md:rounded-4xl"
    style={{
      backgroundImage: `linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)), url(${imageAttrs.src})`,
    }}
  >
    <div
      class="card-spacing grid items-center gap-8
      pb-[300px] 
      md:pb-[500px] xl:grid-cols-2"
    >
      <h1 class="header-big">{title}</h1>
      <div>
        <p>{description}</p>
        <div class="flex flex-col md:flex-row pt-4 gap-4">
          <PrimaryButton {...primaryButton} />
          <SecondaryButton {...secondaryButton} />
        </div>
      </div>
    </div>
  </div>
</section>
