---
import { PrimaryButton, SecondaryButton } from "../patterns/button";
import { PrimaryLabel } from "../patterns/label";
import ApartmentCard from "../patterns/apartment-card";

import { getCollection } from "astro:content";
import { getImage } from 'astro:assets';
const apartmentsCollection = await getCollection("apartments", ({ data }) => {
  return data.featured === true
});

const apartmentsWithImage = await Promise.all(
  apartmentsCollection.map(async (apartment) => {
    const imageAttrsArray = await Promise.all(
      apartment.data.images.map(async (img) => {
        return await getImage({
          src: img,
          alt: apartment.data.name,
          width: 500,
          height: 500,
          aspectRation: "16x9",
          format: "webp"
        })
      })
    )
    return {
      ...apartment,
      images: {
        gallery: imageAttrsArray
      }
    }
  })
)

import type { FeaturedApartmentsProps as Props }  from "@/content/static"
const { label, title, description, primaryButton, secondaryButton } = Astro.props
---
<section class="container container-padding">
  <div class="text-center flex flex-col items-center gap-4 mx-auto
   md:w-xl  ">
    <PrimaryLabel {...label} />
    <h2 class="font-semibold
      text-3xl
      md:text-5xl"
    >{title}</h2>
    <p>{description}</p>
  </div>
  <div class="grid gap-8 py-12
    grid-cols-1 p-4
    md:grid-cols-2">
    {apartmentsWithImage.map((apartment) => (
      <ApartmentCard item={apartment} client:load />
    ))}
  </div>

</section>

