---
import { PrimaryButton, SecondaryButton } from "../patterns/button";
import { PrimaryLabel } from "../patterns/label";
import ApartmentCard from "../patterns/apartment-card";

import { getCollection } from "astro:content";
import { getImage } from 'astro:assets';
const apartmentsCollection = await getCollection("apartments", ({ data }) => {
  return data.featured === true
});

const apartmentsWithImage = await Promise.all(
  apartmentsCollection.map(async (apartment) => {
    const imageAttrsArray = await Promise.all(
      apartment.data.images.map(async (img) => {
        return await getImage({
          src: img,
          alt: apartment.data.name,
          width: 1000,
          height: 1000,
          aspectRation: "1x1",
          format: "webp"
        })
      })
    )
    return {
      ...apartment,
      images: {
        gallery: imageAttrsArray
      }
    }
  })
)

import type { FeaturedApartmentsProps as Props }  from "@/content/static"
const { label, title, description, primaryButton, secondaryButton } = Astro.props
---
<section class="container container-padding container-margin p-4">
  <div class="text-center flex flex-col items-center gap-4 mx-auto md:w-xl">
    <PrimaryLabel {...label} />
    <h2 class="header-medium"
    >{title}</h2>
    <p>{description}</p>
  </div>
  <div class="grid gap-8 pt-8 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    {apartmentsWithImage.map((apartment) => (
      <ApartmentCard item={apartment} client:load />
    ))}
  </div>
  <div class="w-full flex flex-col md:flex-row justify-center gap-4 pt-8">
    <PrimaryButton {...primaryButton} />
    <SecondaryButton {...secondaryButton} />
  </div>
</section>

