---
import { getImage } from 'astro:assets';
import ResultNumber from "@/components/patterns/result-number";
import SimpleCard from "@/components/patterns/simple-card";
import image from "@/content/team/lorenzo-ricchi.webp"

import type { ResultProps as Props } from "@/content/static"
const { resultOne, resultTwo, resultThree, title, description } = Astro.props

const imageAttrs = await getImage({
  src: image,
  alt: title,
  width: 600,
  height: 600,
  aspectRatio: '1:1',
  format: 'webp',
});
---
<section
  class="container container-padding container-margin flex 
  px-4 flex-col gap-8
  sm:px-0 sm:flex-row-reverse sm:gap-16 justify-between"
>
  <SimpleCard
    img={imageAttrs.src}
    title={title}
    description={description}
  />
  <div
    class="flex gap-8 justify-self-start
    flex-col
    sm:flex-row"
  >
    <ResultNumber {...resultOne} />
    <ResultNumber {...resultTwo} />
    <ResultNumber {...resultThree} />
  </div>
</section>
