---
import { getImage } from 'astro:assets';
import { PrimaryLabel } from "../patterns/label";
import { PrimaryButton } from "../patterns/button";
import type { SplitSectionProps as Props } from "@/content/static";
const { label, title, description, button, image } = Astro.props
const imageAttrs = await getImage({
  src: image,
  alt: title,
  width: 1000,
  height: 1000,
  aspectRatio: '1:1',
  format: 'webp',
});

---
<section class="container container-padding container-margin grid gap-16
  grid-cols-1
  md:grid-cols-2">
  <img class="rounded-4xl h-full object-cover" src={imageAttrs.src} {...imageAttrs.attributes} alt={title} />
  <div class="flex flex-col justify-between p-4 gap-8">
    <div>
      <PrimaryLabel {...label}/>
      <h2 class="pt-4 font-semibold
        text-3xl
        md:text-5xl 
        ">{title}</h2>
    </div>
    <div>
      <p class="pb-4">{description}</p>
      <PrimaryButton {...button} />
    </div>
  </div>
</section>
