---
import { PrimaryLabel } from "@/components/patterns/label";
import ApartmentCard from "@/components/patterns/apartment-card";
import { getCollection } from "astro:content";
import { getImage } from 'astro:assets';
const apartmentsCollection = await getCollection("apartments");
const apartmentsWithImage = await Promise.all(
  apartmentsCollection.map(async (apartment) => {
    const imageAttrsArray = await Promise.all(
      apartment.data.images.map(async (img) => {
        return await getImage({
          src: img,
          alt: apartment.data.name,
          width: 500,
          height: 500,
          aspectRation: "16x9",
          format: "webp"
        })
      })
    )
    return {
      ...apartment,
      images: {
        gallery: imageAttrsArray
      }
    }
  })
)

import type { ApartmentsListProps as Props} from "@/content/static";
const { label, title, description } = Astro.props
---
<section class="container container-padding container-margin p-4">
  <div class="text-center flex flex-col items-center gap-4 mx-auto md:w-xl">
    <PrimaryLabel {...label} />
    <h2 class="header-medium"
    >{title}</h2>
    <p>{description}</p>
  </div>
  <div class="grid gap-8 pt-8 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    {apartmentsWithImage.map((apartment) => (
      <ApartmentCard item={apartment} client:load />
    ))}
  </div>
</section>

